*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

    
}
*:focus {
    outline: none;
}
body{
    background-color:#000000e0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: darken;
    color:#ffffff;

}
.counter{
    text-align:center;
    position: relative;
    top:40px;
}
.counter-clock{
    display: inline-block;
    font-size:1300%;
    
}
#min{
    font-weight:bolder;
    font-size:1700%;
    width:25%;
}
#sec{
    font-weight:lighter;
    width:25%;
}
#message{
    font-size:300%;
    margin-bottom:40px;
}
.start-load{
    margin:0 20px;
    font-size: 120%;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px 15px;
    color:#ffffff;
}
.menu{
    text-align:center;
    height: 0px;
    background-color: #f3f3f3;
    overflow: hidden;
    color:#000000 !important;
    text-overflow: ellipsis;

}
.menu p {
    font-size:70%;

}
.list li{
    display: inline-block;
    margin: 15px 20px;
}
.btn{
    background-color:transparent;
    border:none;
    color: #ffffff;
}
.time-info
{
    font-size:90%;
    font-family: 'Inconsolata', monospace;
}
#exit-menu{
    background-color:rgb(153, 40, 40);
}
.settings-input
{
    width: 90%;
    margin-bottom:15px;
    padding:5px 5px;
    border:1px solid #a8a8a8;
    border-radius: 10px;
}
.settings-section
{
    background: linear-gradient(to bottom right, #ffffff,#ebebeb);
    text-align: left;
    margin:10px 15px;
    padding:10px 10px;
    display: inline-block;
    width:30%;
    color:#000000 !important;
    /* border: 1px dotted #000000; */
    border-radius: 5px;
}
.two-settings{
    display: inline-block;
    width: 47%;
    margin-top:20px;
    
}
#sauce-info{
    padding:0px 5px;
    background:rgb(160, 160, 160);
    border-radius:50px;
}